<!DOCTYPE html>

<html>
    <head>
        <title>IS 415 Tableau Checkpoint 1</title>
        <script src="https://public.tableau.com/javascripts/api/tableau-2.js"></script>
        <script src="cp1.js"></script>

        </head>
    
    <body onload="initViz();">
        <form name="tableau" id="tableau">
            <p>Select workbook sheets : 
                <input type="button" name="dashboard"  value="Dashboard 1"                           onclick="switchView1();"        />
                <input type="button" name="map"        value="Completed Projects/Month"              onclick="switchView2();"        />
                <input type="button" name="categories" value="Percent Projects Involving Physicians" onclick="switchView3();"        />
                <input type="button" name="cluster"    value="Average Project Duration (Weeks)"      onclick="switchView4();"        />
                <input type="button" name="cluster"    value="Percent Projects with Cost Savings"    onclick="switchView5();"        />
                <input type="button" name="cluster"    value="Projects in Queue"                     onclick="switchView6();"        />
                <input type="button" name="cluster"    value="Active Projects"                       onclick="switchView7();"        />
                <input type="button" name="cluster"    value="Completed Projects"                    onclick="switchView8();"        />
            </p>
            <p>Filter by region : 
                <input type="button" name="all"        value="Regions"          onclick="filterSingleValue1();" />
                <input type="button" name="uk"         value="Central Entities" onclick="filterSingleValue2();" />
                <input type="button" name="us"         value="North Region"     onclick="filterSingleValue3();" />
            </p>

            <div id="tableauViz"></div>
            
            <br>
            <div id="markDetails">Detailed information about data will be loaded here.</div>
        </form>
    </body>
</html>



